body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 36px;
    font-type: copperplate
}
